# These folders contain scripts to enhance the code coverage reports and are
# already ignored by .gitignore, but because they live under app and script they
# might be included when linting
app/coverage
script/coverage
node_modules
app/node_modules0x1f9840a85d5aF5bf1D1762F925BDADdC4201F984
